[Unit]
Description=Idle manager for Wayland
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 300 'swaylock -f' timeout 600 'niri msg action power-off-monitors' before-sleep 'swaylock -f'
Restart=on-failure

[Install]
WantedBy=niri.service
